*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color: #27377A;
}
:root{
    --color: #CDFEE1;
}
:root{
    --color: #FFCB11;
}
:root{
    --color: #146C1D;
}

body{
    width: 100%;
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.redes{
    width: 140px;
    height: 100px;
    flex-wrap: wrap;
    display: block;
}

.follow{
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 6px 20px;
    display: inline-block;
}

.fb{
    width: 50px;
    margin: 4px 6px 4px 16px; 
    display: inline-block;
}

.ig{
    width: 52px;
    margin: 4px 2px;
    display: inline-block;
}

.inputSearch{
    width: 300px;
    height: 100px;
    flex-wrap: nowrap;
    display: block;
}

.search{
    width: 200px;
    height: 40px;
    color: #CDFEE1;
    border-radius: 5px;
    border: 4px solid #146C1D;
    margin: 30px 4px 10px 80px;
    display: inline-block;
}

.portada{
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
}

.fondoNav{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: block;
}
nav{
    outline: 1px solid red;
}

ul{
    outline: 1px solid blue;
}
li{
    outline: 1px solid green;
}
a{
    outline: 1px solid yellow;
}
